#slider {
    margin-top: 40px;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
    position: absolute;
    opacity: 0;
    transition: opacity 3s ease;
}

#slider img.active {
    opacity: 1;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    outline: none;
}

.btn.prev-btn {
    left: 20px;
}

.btn.next-btn {
    right: 20px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.subscribe-btn-slider {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: solid white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
}

.subscribe-btn-slider:hover {
    background: white;
    color: #000000;
}


#slider:hover .btn {
    opacity: 0.5;
}

#slider:hover .btn:hover {
    opacity: 1;
}

.btn::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.prev-btn::before {
    content: '\003c';
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    padding-right: 3px;
}

.btn.next-btn::before {
    content: '\003e';
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    padding-left: 3px;
}



.newsletter-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10%;
    margin-bottom: 5%;
}
.newsletter-block h1 {
font-weight: bold;
    text-align: center;
}

.newsletter-block p {
    font-weight: bold;
}
.newsletter-block h5 {
    color: rgba(0, 0, 0, 0.59);
    font-weight: normal;
    text-align: center;
    margin: 10px 5% 40px 5%;
}

.newsletter-content {
    flex: 0 0 50%;
}

.newsletter-image {
    flex: 0 0 50%;
    text-align: center;
}

.newsletter-image img {
    max-width: 100%;
    max-height: 100%;
}

.newsletter-category span {
    font-weight: bold;
    margin-left: 5%;
}

.newsletter-content label {
    margin-left: 10%;
}


.newsletter-content p{
    font-weight: lighter;
    color: #000000;
    font-size: 13px;
    margin-left: 5%;
}


.newsletter-submit {
    padding: 10px 20px;
    margin-left: 5%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
}

.newsletter-submit:hover {
    background-color: #f7daae;
    color: #000000;
}

.newsletter-content .newsletter-input {
    margin-left: 10%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 50%;
}

.newsletter-content .newsletter-input::placeholder {
    color: #999;
}

.newsletter-content .newsletter-input:focus {
    outline: none;
    border-color: #555;
}

.newsletter-content input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 0;
    position: relative;
    transition: background-color 0.3s ease;
    cursor: pointer;
    vertical-align: middle;
}

.newsletter-content input[type="checkbox"]::before {
    content: '\2713';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.newsletter-content input[type="checkbox"]:checked::before {
    opacity: 1;
}

.newsletter-content input[type="checkbox"]:focus {
    outline: none;
    border-color: #555;
}

.newsletter-content input[type="checkbox"]:checked {
    background-color: #000;
}

.newsletter-terms {
    display: flex;
    align-items: center;
}

.newsletter-terms a {
    margin-left: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}




