<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Розсилка</title>
</head>
<body>
<h1>Розсилка</h1>
<p>Дякуємо, що підписалися на нашу розсилку!</p>
<p>Ми будемо надсилати вам нові товари та оновлення.</p>
</body>
</html>
