{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="main-cart-container mt-4">
        {% if cart is empty %}
            <div class="no-cart">
                <h2 class="">Ваш кошик порожній</h2>
                <p class="">Якщо ви впевнені, що сюди щось додавалось, спробуйте увійти
                    <br>
                    до свого облікового запису і подивитись там ;)</p>
                <div class="">
                    <form class="" action="#">
                        <button type="submit">Увійти</button>
                    </form>
                </div>
                <a href="{{ path('app_main')}}">Або продовжити купування</a>
            </div>
        {% else %}

            {% include '_cart.html.twig' %}

        {% endif %}
    </div>

{% endblock %}
